<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.automotiveassistantfinal">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AutomotiveAssistantFinal">
        <activity
            android:name="Business.EditBusiness"
            android:exported="true" />
        <activity
            android:name="MechanicAdapter.MechanicRecylcer"
            android:exported="true" />
        <activity
            android:name="ElectricBunkDatabase.ElectricBunkRecycler"
            android:exported="true" />
        <activity
            android:name="BunkRecyclerDatabase.BunkRecycler"
            android:exported="true" />
        <activity
            android:name="User.UserNavigation"
            android:exported="true" />
        <activity
            android:name="User.UserSignup"
            android:exported="true" />
        <activity
            android:name="User.UserLogin"
            android:exported="true" />
        <activity
            android:name="Business.ElectricBunkCreation"
            android:exported="true" />
        <activity
            android:name="Business.BunkCreation"
            android:exported="true" />
        <activity
            android:name="Business.BusinessSignup"
            android:exported="true" />
        <activity
            android:name="Business.BusinessNavigation3"
            android:exported="true" />
        <activity
            android:name="Business.BusinessNavigation2"
            android:exported="true" />
        <activity
            android:name="Business.BusinessNavigation1"
            android:exported="true" />
        <activity
            android:name="Business.BusinessLogin"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>